html{
    position: relative;
}

body{
    margin-top: 60px;
}
.nav-item:hover{
    text-decoration: underline;
    cursor: pointer;
}

.carousel-item{
    height: 32rem;
    background:black ;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}
.crs{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 125px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.home{
    padding-top: 50px;
}
section{
    min-height: 600px;
}
section .container{
    padding-top: 3rem;
}
hr{
    width: 200px;
    border-top: 3px solid #8BC53F;
}

.card-body h3{
    margin-top: 10px;
}

.registration h2{
    margin-bottom: 35px;
}
.registration label{
    font-weight: bold;
}
.underline{
    width: 250px;
    height: 3px;
    background-color: #8BC53F;
    margin: auto;
    /* padding-bottom: 20px; */
}
table th{
    text-align: center;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    border-radius: 15px;
}
.box img{
    border-radius: 10px;
    width: cover;
    height: fit-content;
}
.form-floating{
    position: relative;
}
.icon{
    position: absolute;
    top: calc(50%);
    left: 1.25rem;
}
.form-floating label, .form-floating .form-control{
    left: .5rem;
    padding-left: 3.5rem;
}
.icon-textarea{
    position: absolute;
    top: 1.8rem;
    left: 1.25rem;
}
.underline-footer{
    width: 100%;
    height: 1px;
    background-color: white;
    margin: auto;
}
.hr-footer{
    width: 200px;
    border-top: 3px solid white;
}